<div class="card-header col-md-10">
  <h2>
    Homepage
  </h2>
</div>
<div>
  <ol>
    <li>
      Tech related post
    </li>
    <li>
      Space for tech post
    </li>
    <li>
      Space for tech post </li>
    <li>
      Space for tech post </li>
    <li>
      Space for tech post </li>
    <li>
      Space for tech post </li>
    <li>
      Space for tech post </li>
  </ol>
</div>
</div>
</div>